<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReadPLC.Properties.Settings.sqlConnection" connectionString="Data Source=10.225.164.23;Initial Catalog=MAA_Dana_GBR_BHAM_Prod;Persist Security Info=True;User ID=sa;Password=Win@2K12" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>